<div id="overview">
  <h1>Hangman games</h1>
</div>

<div class="menu">
<%= render 'shared/new_game' %>
<%= link_to 'Google', 'http://google.com' %>
<%= link_to 'Fill the cache', games_cache_url %>
</div>

<div id="content">
  <div id="main">
    <p class="notice"><%= flash[:notice] %></p>
    <p class="alternative_game"><%= alternative_game_link(flash[:alternative_game], '*') %></p>
    <table>
      <% @games.each do |game| %>
        <tr>
          <td><%= "##{game.id}"%>
          <td>"<%= obfuscate(game, '*') %>"</td>
          <td><%= game.quantity_guesses_remaining %></td>
          <td><%= link_to (game.ongoing? ? 'Play' : 'Review'), game_path(game) %></td>
          <td><%= link_to 'Delete', game_path(game), method: :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<p class="status"><%= @cached_count %></p>
