<div id="overview">
  <h1>You are trying to guess <%= obfuscate(@game, '*') %></h1>
</div>

<div class="menu"><%= link_to 'Your games', games_path %></div>

<div id="content">
  <div id="main">
    <p id="notice"><%= notice %></p>
    <p>You have <%= @game.quantity_guesses_remaining %> lives remaining
    <p>You have used <%= guessed_letters @game %>

    <% if @game.ongoing? %>
      <%= form_tag(game_path @game, method: "post") do %>
        <input name="_method" type="hidden" value="patch" />
        <%= label_tag(:letter, "Letter:") %>
        <%= text_field_tag(:letter) %>
        <%= submit_tag("Guess") %>
      <% end %>
    <% elsif @game.won? %>
      <div id='win_message' >
      Well done, you've won! :D
      <div class="button page-action"><%= render 'shared/new_game' %></div>
      </div>
    <% elsif @game.lost? %>
      <div id='lose_message'>
      Ooops, you lost :( The word was <%= @game.word %>
      <div class="button"><%= render 'shared/new_game' %></div>
      </div>
    <% end %>
  </div>
</div>
