<h1>Add a word!</h1>

<%= form_tag("/words", method: "post") do %>
  <%= label_tag(:word, "Word:") %>
  <%= text_field_tag(:word) %>
  <%= submit_tag("Add word") %>
<% end %>

<p id="notice"><%= notice %></p>

<h1>I know about the words:</h1>

<table>
  <% @words.each do |word| %>
    <tr>
      <td>"<%= word.value %>"</td>
      <td><%= word.created_at %></td>
      <td><%= link_to 'Show', word_path(word) %></td>
      <td><%= link_to "Delete", word_path(word), method: :delete %></td>
    </tr>
  <% end %>
</table>