/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body { 
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: #9933ff; 
}

p {
  text-align: center;
  padding: 10px
}

form {
  text-align: center;
}

table {
  padding-left: 20%;
  padding-right: 20%;
  width: 100%
}

.button {
  padding: 10px;
  width: fit-content;
  border: 2px solid darkgray;
  background-color: lightgray;
  margin: 10px;
  border-radius: 8px;
  font-family: monospace;
  float: right;
}

.button a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.menu {
  min-width: fit-content;
  width: 20%;
  float: left;
  padding: 15px;
  border-right: 1px solid red;
  background: darkgray;
}

.menu a:first-child {
  border-top: 2px solid black;
}

.menu a {
  display: block;
  font-family: monospace;
  text-decoration: none;
  padding: 10px;
  border-bottom: 2px solid black;
}

.menu a:hover {
  background-color: black;
  color: gray;
}

#overview {
  color: tomato;
  text-align: center;
  border: 2px dashed lime;
  float: top;
  font-family: "Comic Sans MS";
}

.status {
  position: absolute;
  bottom: 0%;
  color: gray;
  font-size: 15px;
  padding: 0;
  text-align: left;
}


#main {
  max-width: 80%;
  float: left;
  padding: 15px;
}

.notice {
  color: red;
  font-size: 15px;
}

.page-action {
  float: bottom;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 20%;
  left: 30%;
  right: 30%;
}

